.v-avatar.outlined--secondary {
  border: 1px solid;
  border-color: var(--v-secondary-base);
}

.v-avatar.outlined--secondary img,
.v-avatar.outlined--secondary .v-icon {
  padding: 2px;
}

.theme--dark.v-pagination .v-pagination__item,
.theme--dark.v-pagination .v-pagination__navigation {
  background: transparent !important;
}

.theme--dark.v-pagination .v-pagination__item--active {
  background-color: var(--v-secondary-base) !important;
  border-color: var(--v-secondary-base) !important;
}

.elevation-0 ul li .v-pagination__item,
.elevation-0 ul li .v-pagination__navigation {
  box-shadow: none !important;
}

.pointer {
  cursor: pointer;
}

.no-background-hover::before {
  background-color: transparent !important;
}

.dropdown-custom::before {
  content: "";
  position: absolute;
  right: 11px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--v-secondary-base) transparent;
  z-index: 9999;
}
.dropdown-custom::after {
  content: "";
  position: absolute;
  right: 4px;
  top: -22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 9998;
}
